@page
@model Portfolio.Pages.AboutMeModel
@{
}
<div class="d-flex justify-content-center mt-5">
    <img class="image-display border border-white mr-3" src="~/images/myprofilepicture.jpg" alt="photo image" />
    <div class="align-items-end flex-column w-75">
        <p class="mb-4">
            Hello, my name is Alexander Gemmell and I am a recent graduate from Fitchburg State University. I have also worked both as a
            peer tutor on CS related courses and in retail for around two years. My main area of interest is in software development of which I am highly passionate about.
        </p>
        <a class="border border-light rounded p-2 mt-auto" href="~/downloadables/Alexander-Gemmell-Resume.pdf" download>My Resume</a>
    </div>
</div>
