@page
@model Portfolio.Pages.AboutMeModel
@{
}
<hr />
<div class="row">
	<h5 class="mr-3">Languages I've Used:</h5>
	<p>C#, Java, Python, HTML/CSS, Javascript, SQL, C/C++</p>
</div>
<div class="row">
	<h5 class="mr-3">Technologies I've Worked In:</h5>
	<p>ASP.Net, Visual Studio, MySQL, Github, Unity, Android Studios</p>
</div>
<div class="row">
	<h5 class="mr-3">Other Tools I Have Used:</h5>
	<p>Photoshop, Adobe Premiere, Excel, Word</p>
</div>
<div class="row">
	<p>I'm currently working to include more projects to show off more these languages and technologies in my portfolio.</p>
</div>
<hr />
<div class="row w-75">
    <img class="border border-white mr-2" style="width: 260px; height: auto;" src="~/images/myprofilepicture.jpg" alt="photo image" />
	<div class="col ml-3">
		<div class="row">
			<p class="mb-3">
				Hello, my name is Alexander Gemmell and I am a recent graduate from Fitchburg State University looking to utilize my skills from my academic years. I have also worked both as a
				peer tutor on computer science related courses and in retail for around two years. I have strong skills in areas such as object-oriented programming and webdesign as well as database
				management. If you wish to look at my resume simply click the document button below, if you want to see the code behind some of my projects click on the github button.
			</p>
		</div>
		<div class="row">
			<a class="btn btn-info rounded border border-white mr-3" href="~/downloadables/AlexGemmellResume.docx" download><img src="~/images/resumeicon.png" alt="resume image" /></a>
			<a class="btn btn-info rounded border border-white" href="https://github.com/AlexGemm"><img src="~/images/githubicon.png" alt="github image" /></a>
		</div>
	</div>
</div>
<hr />
<div class="row w-50">
	<div>
		<b>Simple Questions:</b>
		<ul class="mt-3">
			<li class="mb-2"><b>What is my favorite language?:</b> My favorite language to work in is C#, mostly due to my familiarity to it and the benefits of working in the .Net stack.</li>
			<li class="mb-2"><b>When did I start programming?:</b> I started even before college, in high school I took an AP CS course and a game design course.</li>
			<li class="mb-2"><b>Why do I like Programming?:</b> I like programming because of the extensive useful, interesting, and enjoyable projects I could create. I like visually seeing the results of my problem solving.</li>
			<li class="mb-2"><b>What else do I do?:</b> In my free time I like to do activities such as reading and creative writing.</li>
		</ul>
	</div>
</div>
