@page
@model Portfolio.Pages.ColorManagerAppModel
@{
}

<div class="row">
	<div class="col-7">
		<h2>Color Manager App</h2>
		<p class="mb-3">
			<b>Coding Language(s):</b> Java, XML<br />
			<b>Technology Used:</b> Android Studio
		</p>
		<p class="mb-3">
			<b>Description:</b> The Color Manager App was an academic project developed as a group with one other partner for a
			mobile development course. The idea of the app was to help digital artists select, save, and find colors to use in their
			own projects. I created most of the activities and developed the save and delete codes function in it's entirty, then my partner
			polished some of the activities (for example making the input hexcode to view function have a pre-written '#' character).
		</p>
		<div>
			<b>Features:</b>
			<ul>
				<li>Save and delete hexcodes.</li>
				<li>Look up hexcodes by name.</li>
				<li>Input and view a hexcode.</li>
				<li>App bar with an about activity and tab to display saved codes.</li>
			</ul>
		</div>
		<div>
			<b>Code Snippit:</b>
			<ul>
				<li>
					In the saved hexcodes activity there is a list view to the left and a square view on the right. Using an on click listener, the square view gets it's color changed depending on the hexcode pressed on
					the list view. The list view itself is displaying a list of strings that contains the hexcodes the user wanted to save.
				</li>
			</ul>
			<img style="width:70%; height:70%;"class="border border-white rounded" src="~/images/Code_Snip_Android.jpg" alt="code image" />
		</div>
	</div>
    <div class="col-5">
		<div class="row">
			<div class="col">
				<label>Type in hexcode and view.</label>
				<img class="m-2 border border-white" src="~/gifs/AndroidP_One.gif" alt="gif image" />
			</div>
			<div class="col">
				<label>Click hexcode to view.</label>
				<img class="m-2 border border-white" src="~/gifs/AndroidP_Two.gif" alt="gif image" />
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col">
				<label>Search for hexcodes by color name.</label>
				<img class="m-2 border border-white" src="~/gifs/AndroidP_Three.gif" alt="gif image" />
			</div>
		</div>
    </div>
</div>
