@page
@model Portfolio.Pages.ContactModel
@{
}
<hr />
<div class="row">
    <div class="col">
        <h5 class="mb-3">Contact me through these:</h5>
        <div class="row mb-3">
            <a class="btn btn-info border border-white mr-3" href="mailto:alexgemmell92@gmail.com"><b>Email</b></a>
            <p>
                <b>My Email:</b> alexgemmell92@gmail.com
            </p>
        </div>
        <div class="row mb-3">
            <a class="btn btn-info border border-white mr-3" href="tel:860-817-7715"><b>Phone</b></a>
            <p>
                <b>My Phone Number:</b> 860-817-7715
            </p>
        </div>
        <div class="row mb-3">
            <a class="btn btn-info border border-white mr-3" href="https://www.linkedin.com/in/alexander-gemmell-763913212"><b>Linkedin</b></a>
            <p>
                <b>My Linkedin Profile:</b> https://www.linkedin.com/in/alexander-gemmell-763913212
            </p>
        </div>
    </div>
</div>