@page
@model Portfolio.Pages.GraphicalWidgetsModel
@{
}

<div>
    <canvas width="300" height="222" class="border border-white" id="ballCanvas"></canvas>
    <img width="300" height="222" class="border border-white" src="~/gifs/Opengl_Tetrahedron.gif" alt="gif image" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</div>