@page
@model Portfolio.Pages.PollingWebsiteModel
@{
}

<div class="row">
	<div class="col-7">
		<h2>Polling Website</h2>
		<p class="mb-3">
			<b>Coding Language(s):</b> Python, HTML/CSS<br />
			<b>Technology Used:</b> Flask, SQLite
		</p>
		<p class="mb-3">
			<b>Description:</b> This polling website was a small personal project I created myself. The idea is that there is some product, event, etc
			that is trying to measure it's success. The website has a survey where users write some basic information about themselves and their review, it is
			then it is possible to view those results such as the average rating of everyone surveyed.
		</p>
		<div class="mb-3">
			<b>Features:</b>
			<ul>
				<li>You can see a table of all entries of the survey.</li>
				<li>You can see the amount of entries and the average rating.</li>
				<li>You can add entries to the table using a form page.</li>
			</ul>
		</div>
		<div>
			<a class="btn btn-info rounded border border-white mr-1" href="https://github.com/AlexGemm/Polling-Website"><img src="~/images/githubicon.png" alt="github image" /></a>
		</div>
		<div class="mt-3">
			<b>Code Snippit:</b>
			<ul>
				<li>
					When going to the index page not only is the page fetching all the entires in the SQLite database but it is also running and storing
					two different SQL queries. One is the average of all ratings entered into the database, and the other is the total number of entries.
					These variables and then displayed on the html page.
				</li>
			</ul>
			<img style="width:95%; height:95%;" class="border border-white rounded" src="~/images/Code_Snippit_Flask.png" alt="code image" />
		</div>
	</div>
	<div class="col-5">
		<label>View poll numbers and create a survey entry.</label>
		<img class="m-2 border border-white" src="~/gifs/Example_One_Flask.gif" alt="gif image" />
		<label>Table of survey entries.</label>
		<img class="m-2 border border-white" style="height: 25%;" src="~/images/flaskexample.png" alt="image" />
	</div>
</div>