@page
@model Portfolio.Pages.SolarLightGameModel
@{
}
<div>
    <div class="float-right align-items-end">
        <div>
            <img class="gif-display border border-white m-2" src="~/gifs/first_example.gif" alt="gif image" />
        </div>
        <div>
            <img class="gif-display border border-white m-2" src="~/gifs/second_example.gif" alt="gif image" />
        </div>
        <div class="d-flex justify-content-center">
            <img class="gif-display border border-white m-2" src="~/gifs/third_example.gif" alt="gif image" />
        </div>
    </div>
    <h2>Solar Light</h2>
    <p class="mb-3">
        <u>Coding Language(s)</u>: C#<br />
        <u>Technology Used</u>: Unity Engine, Photoshop
    </p>
    <p class="w-50 mb-3">
        <u>Description</u>: Solar Light is a multi-leveled space shooter where the player controls a spaceship and is fighting different enemy alien ships throughout a level.
        The goal is to defeat all the enemies of the level by firing at them and avoiding their shots while also avoiding asteroids that spawn to the left and right. The player can
        navigate levels using a level selection screen.
    </p>
    <p><u>Link to itch page</u>: <a href="https://alexgem.itch.io/solar-light">Solar Light</a></p>
</div>
